.favBtn {
    position: relative;
    width: 71px;
    height: 71px;
    background-color: #C1C1C1;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.favBtn__iconWrap--active {
    fill: #FF3D3D
}

.favBtn__icon {
    opacity: 0;
}

.favBtn__icon--stroke, .favBtn__icon--fill {
    opacity: 1;
}

.favBtn__animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 1px;
    z-index: 1;
}

.favBtn__animation > svg {
    transition: background-color .3s;
    border-radius: 50%;
    background-color: #FF3D3D;
}

.favBtn__animation > svg > g {
    transform: scale(1.55) translate(-71px, -65px);
}


