.favBtn {
    width: 50px;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
}

.favBtn:not(.favBtn--small) {
    width: 50px;
    height: 50px;
}

.favBtn--small {
    width: 40px;
    height: 40px;
}

.favBtn__wrap {
    position: relative;
    background-color: #C1C1C1;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 100%;
}

.favBtn__iconWrap--active {
    position: relative;
    z-index: 1;
}

.favBtn__iconStroke {
    opacity: 1;
    scale: 0.9;
    transform: translate(4px, 3.5px);
}

.favBtn__iconFill {
    opacity: 0;
}

.favBtn__animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 1px;
    z-index: 1;
}

.favBtn__animation > svg {
    transition: background-color .3s;
    border-radius: 50%;
    width: calc(100% - 1px) !important; /* Перебиваем width либы, для коректной ширины */
}

.favBtn__animation > svg > g {
    transform: scale(1.5) translate(-69px, -65px);
}

.favBtn__fill {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF3D3D;
    border-radius: 50%;
    transition-property: width, height;
    transition-duration: .1s;
}

.favBtn__fill--active {
    width: 100%;
    height: 100%;
}
