.fav-animation {
    position: fixed;
    top: 0;
    left: 50%;
    width: 300px;
    height: 300px;
    background-color: #0B0B0B;
    transform: translate(-50%, -100%);
    transition: transform .3s;
    pointer-events: none;
}

.fav-animation__active {
    transform: translate(-50%, 0);
}

.fav-btn{
    width: max-content;
    padding: 20px 70px;
    background-color: #4081FF;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
}
